@keyframes animate-background {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 51% 48%;
    }
    35% {
        background-position: 0% 47%;
    }
    50% {
        background-position: 23% 10%;
    }
    65% {
        background-position: 91% 7%;
    }
    75% {
        background-position: 25% 35%;
    }
    90% {
        background-position: 57% 71%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}