:root {
    // light-theme
    --base-light: #71aaeb;
    --footer-light: #131f2e;
    --base-highlight-light: #1884ff;
    --after-modal-color-light: #00032267;
    --background-base-light: linear-gradient(337deg, rgba(229,239,255,1) 15%, rgba(255,255,255,1) 34%, rgba(223,235,255,1) 50%, rgba(255,255,255,1) 63%, rgba(228,243,255,1) 80%, rgba(255,255,255,1) 89%, rgba(232,244,255,1) 100%);

    // dark-theme
    --base-dark: #abc6e4;
    --footer-dark: #1b2025;
    --base-highlight-dark: #9bcaff;
    --after-modal-color-dark: #0d0d138f;
    --background-base-dark: linear-gradient(337deg, rgba(21,24,31,1) 15%, rgba(39,49,56,1) 34%, rgba(33,38,47,1) 50%, rgba(44,53,61,1) 63%, rgba(29,35,41,1) 80%, rgba(50,58,70,1) 89%, rgba(54,60,65,1) 100%);

    // size
    --base-font-size: 24px;
    --label-text-font-size: 30px;
    --items-font-size: 18px;
    --h1-font-size: 36px;
    --h2-font-size: 28px;
    --plug-text-font-size: 24px;

    --header-hight: 75px;
    --container-width: 950px;
    --footer-hight: 75px;
}

[data-theme="light"] {
    --base: var(--base-light);
    --footer: var(--footer-light);
    --base-highlight: var(--base-highlight-light);
    --after-modal-color: var(--after-modal-color-light);
    --background-base: var(--background-base-light);
}

[data-theme="dark"] {
    --base: var(--base-dark);
    --footer: var(--footer-dark);
    --base-highlight: var(--base-highlight-dark);
    --after-modal-color: var(--after-modal-color-dark);
    --background-base: var(--background-base-dark);
}