.button {
    height: 35px;
    font-size: var(--items-font-size);
    color: #ffffff;
    border: 1px solid var(--base);
    border-radius: 5px;
    background: var(--base);
    cursor: pointer;
    &:hover {
        @include button-hover-light;
    }
    &_disabled {
        cursor: not-allowed;
    }
}

