.header {
    width: 100%;
    height: $header-hight;
    border-bottom: 2px solid $base;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: $container-width;
        height: 100%;
        margin: 0 auto;
    }
    &__logo {
        height: 60px;
        cursor: pointer;
        &:hover {
            @include logo-hover;
        }
    }
}