.main {
    min-height: calc(100%);
    &__container {
        min-height: calc(100% );
        width: var(--container-width);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__head {
        text-align: center;
        font-size: var(--h1-font-size);
        font-weight: 300;
        color: var(--base);
    }
}

.weather-info {
    &__container {
        margin: 0 auto;
        width: 100%;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    &__temperature {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(57, 83, 201, 0.35),rgba(255, 255, 255, 0) 100%);
        &-number {
            color: #FFC22F;
            font-size: var(--h2-font-size);
        }
        &-img {
            width: 100px;
            @include cloud-hover;
        }
    }
    &__label {
        color: var(--base);
        font-weight:300;
        font-size: var(--base-font-size);
        margin: 15px 0;
    }
    &__wind {
        &-head {
            text-align: center;
            color: var(--base);
            font-weight:300;
            font-size: var(--base-font-size);
        }
    }
}

.left-side {
    width: 60%;
}

.right-side {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.info-value {
    color: var(--base-highlight);
    font-weight: 100;
    font-size: var(--base-font-size);

    &_head {
        font-size: var(--h1-font-size);
        font-weight: 300;
    }
}