.main {
    height: calc(100vh - $header-hight);
    &__container {
        height: calc(100vh - $header-hight);
        width: 950px;
    }
    &__head {
        text-align: center;
        font-size: $h1-font-size;
        font-weight: 300;
        color: $base;
    }
}

.weather-info {
    &__container {
        margin: 0 auto;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    &__temperature {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: $night;
        &-number {
            color: $night-text;
            font-size: $h2-font-size;
        }
        &-img {
            width: 100px;
            @include cloud-hover;
        }
    }
    &__label {
        color: $base;
        font-weight:300;
        font-size: $base-font-size;
        margin: 15px 0;
    }
    &__wind {
        &-head {
            text-align: center;
            color: $base;
            font-weight:300;
            font-size: $base-font-size;
        }
    }
}

.left-side {
    width: 60%;
}

.right-side {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.info-value {
    color: $base-highlight;
    font-weight: 100;
    font-size: $base-font-size;

    &_head {
        font-size: $h1-font-size;
        font-weight: 300;
    }
}