.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--after-modal-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
    &__container {
        position: relative;
        width: 520px;
        height: 280px;
        background: var(--background-base);
        background-size: 300% 300%;
        animation-duration: 25s;
        animation-name: animate-background;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        box-shadow: 0px 0px 15px 0px var(--base);
        border-radius: 5px;
    }
    &__header {
        z-index: 0;
        position: relative;
        text-align: center;
        color: var(--base-highlight);
        font-size: var(--h2-font-size);
        padding: 5px 0;
    }
    &__header::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--base);
        width: 100%;
        height: 2px;
    }
    &__message {
        text-align: center;
        height: 230px;
        max-height: 230px;
        color: var(--base);
        font-size: var(--base-font-size);
        font-weight: 100;
        overflow-y: scroll;
        padding: 15px 20px;
        &::-webkit-scrollbar {
            -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
            background: var(--background-base);
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: linear-gradient(180deg, var(--base), var(--base-highlight));
        }
    }
    &__close-item {
        z-index: 1;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            right: 5px;
            top: 17px;
            background: var(--base-highlight);
            width: 25px;
            height: 4px;
            transform: rotate(45deg);
            border-radius: 5px;
        }
        &::after {
            content: '';
            position: absolute;
            right: 5px;
            top: 17px;
            background: var(--base-highlight);
            width: 25px;
            height: 4px;
            transform: rotate(135deg);
            border-radius: 5px;
        }
    }
}