.plug {
    &__container {
        height: calc(100vh - var(--header-hight));
        width: 950px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
    }
    &__head {
        text-align: center;
        font-size: var(--h1-font-size);
        font-weight: 500;
        color: var(--base);
    }
    &__text {
        text-align: center;
        color: var(--base);
        font-size: var(--plug-text-font-size);
    }
    &__highlight {
        color: var(--base-highlight);
        font-size: var(--plug-text-font-size);
    }
}