.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(337deg, rgba(229,239,255,1) 15%, rgba(255,255,255,1) 34%, rgba(223,235,255,1) 50%, rgba(255,255,255,1) 63%, rgba(228,243,255,1) 80%, rgba(255,255,255,1) 89%, rgba(232,244,255,1) 100%);
    background-size: 300% 300%;
    animation-duration: 25s;
    animation-name: animate-background;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        width: 10%;
        animation-duration: 0.5s;
        animation-name: animate-preloader;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}