.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--background-base);
    background-size: 300% 300%;
    animation-duration: 25s;
    animation-name: animate-background;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        width: 10%;
        animation-duration: 0.5s;
        animation-name: animate-preloader;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}