.wind-widget {

    margin: 0 auto;
    position: relative;
    width: 250px;
    height: 250px;
    &__compass {
        width: 250px;
    }
    &__arrow {
        width: 250px;
        position: absolute;
        left: 0;
        transform: rotate(180deg);
    }
    &__wind-speed {
        text-align: center;
        color: $base;
        font-size: $items-font-size;
        font-weight: 600;
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 14px);
    }
}