@import './base/keyframes';
@import './base/variables';
@import './base/mixins';

* {
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-base;
    background-size: 300% 300%;
    animation-duration: 25s;
    animation-name: animate-background;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@import './blocks/input';
@import './blocks/button';
@import './blocks/search-form';
@import './blocks/wind-widget';
@import './blocks/header';
@import './blocks/theme-button';
@import './blocks/main';
@import './blocks/plug';
@import './blocks/footer';
@import './blocks/preloader';
@import './blocks/modal';
@import './blocks/map';


.hide {
    display: none;
}

.show {
    display: block;
}
