@import './base/keyframes';

* {
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(337deg, rgba(229,239,255,1) 15%, rgba(255,255,255,1) 34%, rgba(223,235,255,1) 50%, rgba(255,255,255,1) 63%, rgba(228,243,255,1) 80%, rgba(255,255,255,1) 89%, rgba(232,244,255,1) 100%);
    background-size: 300% 300%;
    animation-duration: 25s;
    animation-name: animate-background;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@import './base/variables';
@import './base/mixins';

@import './blocks/input';
@import './blocks/button';
@import './blocks/search-form';
@import './blocks/wind-widget';
@import './blocks/header';
@import './blocks/main';
@import './blocks/plug';
@import './blocks/footer';


.hide {
    display: none;
}

.show {
    display: block;
}
